.topo {
  width: 100%;
}

.title {
  font-size: 5em;
  color: $dark-color;
  font-weight: 700;

  @include medium {
    & {
      font-size: 4em;
    }
  }

  @include small {
    & {
      font-size: 3em;
    }
  }
}

.subtitle {
  margin: 100px 0;
  color: $light-color;
  font-size: 2em;
  font-weight: 700;
  max-width: 650px;

  @include medium {
    & {
      margin: 50px 0;
      font-size: 1.8em;
    }
  }

  @include small {
    & {
      margin: 20px 0;
      font-size: 1.6em;
    }
  }
}

.painting {
  width: 9em;
  height: 9em;
  position: absolute;
  bottom: 0px;
  right: 0px;
  transition: all 0.5s ease-in-out;

  &:hover {
    bottom: 50px;
    right: 50px;
  }

  @include small {
    & {
      display: none;
    }
  }
}
