.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;

  &:hover {
    .icon-wrapper {
      background-color: $selected-yellow-color;
      box-shadow: rgba(136, 136, 136, 0.5) 0px 0px 5px;
    }
  }
}

.icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: $yellow-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.icon {
  width: 60%;
}

.icon-name {
  margin-top: 10px;
  color: $dark-color;
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}
